<% SsrFreelancePayHelper.check_field_on_pay %>
<h3>Управление работой</h3>
<div id="sunstrike_settnigs_div">
  <div class="plitka">
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[power_plugin_status]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_Sunstrike_ticket_creation_plugin['power_plugin_status'].to_i)) %>
    </div>
  </div>
</div>

<h3>Настройка</h3>
<div class="plitka">
  <h4>Поле: Project-lead</h4>
  <div id="sunstrike_settnigs_select">

    <%= select_tag('settings[sunstrike_project_lead_id]',
                   options_for_select(select_custom_fields,
                                        Setting.plugin_Sunstrike_ticket_creation_plugin['sunstrike_project_lead_id'].to_i)) %>
  </div>
</div>
<div class="plitka">
  <h4>Поле: Арт-Менеджер</h4>
  <div id="id_rol_on_selected_">
    <%= select_tag("settings[sunstrike_art_manager_id]",
                   options_for_select(select_custom_fields, Setting.plugin_Sunstrike_ticket_creation_plugin['sunstrike_art_manager_id'].to_i)) %>
  </div>
</div>
<div class="plitka">
  <h4>Поле: статус фриланса</h4>
  <div id="id_rol_on_selected_">
    <%= select_tag("settings[sunstrike_freelance_id]",
                   options_for_select(select_custom_fields, Setting.plugin_Sunstrike_ticket_creation_plugin['sunstrike_freelance_id'].to_i)) %>
  </div>
</div>

<div class="plitka">
  <h4>Поле: фиксированный эстимей</h4>
  <div id="id_rol_on_selected_">
    <%= select_tag("settings[sunstrike_fix_estimate_id]",
                   options_for_select(select_custom_fields, Setting.plugin_Sunstrike_ticket_creation_plugin['sunstrike_fix_estimate_id'].to_i)) %>
  </div>
</div>

<div class="plitka">
  <h4>Поле: Внешний рейт</h4>
  <div id="id_rol_on_selected_">
    <%= select_tag("settings[sunstrike_out_rate_id]",
                   options_for_select(select_custom_fields, Setting.plugin_Sunstrike_ticket_creation_plugin['sunstrike_out_rate_id'].to_i)) %>
  </div>
</div>