<%= render partial: 'tickets_from_file/style' %>
<div class="wrapper">

  <table>
    <%= form_tag tickets_from_file_create_task_path do %>
  <tr>
      <th><%= label_tag "Номер" %></th>
      <% @header.each do |item| %>
        <th><%= label_tag t item %></th>
      <%= hidden_field_tag "header[#{item}]", item %>
  <% end %>
    </tr>
      <body>
      <% parent_index = 0 %>
      <% parent_id = 0 %>
      <% @tasks.each_with_index do |item, index| %>
        <tr id="<%= item.first %>">
          <td><%= label_tag "#{index + 1}." %></td>
          <td><%= select_tag "issues[#{item.first}][tracker_id]", options_for_select(select_tracker, select_tracer_from_document_on_id(item.last[:tracker_id])) %></td>
          <td><%= text_field_tag "issues[#{item.first}][subject]", item.last[:subject] %></td>
          <td><%= text_field_tag "issues[#{item.first}][description]", item.last[:description] %></td>
          <td><%= select_tag "issues[#{item.first}][assigned_to_id]", options_for_select(select_users, select_user_from_document(item.last[:assigned_to_id])) %></td>
          <td><%= text_field_tag "issues[#{item.first}][custom][external_rate]", item.last[:custom][:external_rate] %></td>
          <td><%= select_tag "issues[#{item.first}][custom][fix_estimate]", options_for_select(YES_NO_STR_CONST, item.last[:custom][:fix_estimate] ) %></td>
          <td><%= select_tag "issues[#{item.first}][custom][project_lead]", options_for_select(select_roles_prl, select_user_from_document(item.last[:custom][:project_lead])) %></td>
          <td><%= select_tag "issues[#{item.first}][custom][art_manager]", options_for_select(select_roles_am, select_user_from_document(item.last[:custom][:art_manager])) %></td>
          <td><%= text_field_tag "issues[#{item.first}][parent_id]", item.last[:parent_id] %></td>
          <td><%= date_field_tag "issues[#{item.first}][due_date]", item.last[:due_date] %></td>
          <td><%= text_field_tag "issues[#{item.first}][estimated_hours]", item.last[:estimated_hours] %></td>
          <td><%= select_tag "issues[#{item.first}][custom][freelancer?]", options_for_select(YES_NO_STR_CONST, item.last[:custom][:freelancer?]) %></td>
        </tr>
      <% end %>
      </body>
      <%= hidden_field_tag "project", @project_id %>
      <%= hidden_field_tag "user", User.current %>
      <td><%= submit_tag 'Создать', url: tickets_from_file_create_task_path %></td>
    <% end %>

  </table>
</div>
